### AtmelStudio ###
## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

# # Debug files
# *.dSYM/
# *.su
# *.idb
# *.pdb
*.LOG

# # Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
**/Debug/
**/.vs/
**/History/
**/__Previews/
*.PrjPcbStructure
**.SchDocPreview
*.PcbDocPreview
*.atsuo

# Created by https://www.gitignore.io/api/altium
# Edit at https://www.gitignore.io/?templates=altium

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


# End of https://www.gitignore.io/api/altium